/* Navigation Bar */
.navbar {
    background-color: #333;
    font-size: 1.2em;
    padding: 1em;
    text-align: center;
    position: fixed;
    top: 0;
    z-index: 1000;
}

/* Removing default list styling */
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Making the items in line */
.navbar ul li {
display: inline;
margin: 0 1em;
}

/* Style the links */
.navbar ul li a {
    color: #fff;
    text-decoration: none;
}

/* Push content below navbar cause we used fixed position */
.main-content {
    padding-top: 5em;
}

/* Style all sections inside main content */
.main-content section {
    padding: 2em 1em;
    text-align: center;
}

/* Main heading in home section */
#home h1 {
    font-size: 2.5em;
    margin-bottom: 0.5 em;
}

#home p {
    font-size: 1.2em;
    color: #666;
}

/* Portfolio section: container layout */
.portfolio-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1em;
}

/* Every Portfolio item card */
.portfolio-item {
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 1em;
    padding: 1em;
    box-sizing: border-box;
    width: 30%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

/* The portfolio headings */
.portfolio-item h3 {
    font-weight: bold;
    margin-bottom: 0.5em;
}

/* Portfolio item texts */
.portfolio-item p {
    margin-bottom: 0.5em;
    color: #666;
}

/* Portfolio item images */
.portfolio-item img {
    width: 100%;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

/* Addition of hover effect */
.portfolio-item:hover {
    transform: scale( 1.05);
}